body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding: 2em; /* Pour ajuster correctement le bouton  en bas de la page mieux visible */
  }
  
fieldset {
    border: 0;
    padding: 2rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid #3b3b4f;
  }
  fieldset:last-of-type { 
    border-bottom: none;
  }
  
 input, textarea, select {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    min-height: 2em;
  }
  .inline {
    width: unset; /* margin: 0 0.5em 0 0;*/
    margin-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    vertical-align: middle;
  }
  
input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;  
    color: #ffffff; /* Pour faire apparaitre le text écrit dans la zone de saisie */
     /* min-height: 2em; Pour augmenter la taille de la barre de saisie à la normale */
  }
  input[type="submit"] { /* Pour stylyser une entrée de type bouton de submission  ce type de selecton est utilisé pour les entré spécifique d'une class.*/
    display: block;
    width: 60%;
    min-width: 300px; /* Pour definir la taille minimal du boutton à 300px */
    margin: 0 auto; /* Pour Centrer mettre au milieu le bouton */
    /* margin: 1em auto 1em auto; Pour Centrer et séparer le bouton du field...  Top-left-Bottom-Right */
    height: 2em; /* Pour augmenter la taille du bouton */
    font-size: 1.1rem; /* Pour augmenter la taille de l'écriture du bouton */
    background-color: #3b3b4f; /* Pour definir la couleur de l'arrière plan du bouton */
    border-color:  #ffffff; /* Pour definir la bordure bouton White */
  }
  input[type="file"] { /* Pour stylyser une entrée de type fichier  ce type de selecton est utilisé pour les entré spécifique d'une class.*/
    padding: 1px 2px;
  }